
  <div class="row">
    <div class="col s12 m7">
      <div class="card hoverable card-small">
        <div class="card-image artBid-image">
          <img class="materialboxed" src="./upload/North Oconee High School/60301ba11614e348985b94e5-ArtiePup.jpg">
          <span class="card-title">{{artwork-name}}</span>
        </div>
        <div class="card-content">
            <p>Name :<span>"Bust"</span></p>
            <p>Category :<span>Painting</span></p>
            <p>Size :<span>36"x36"x2"</span></p>
            <p>Starting Bid :<span>$26.95</span></p> 
            <p>Current Bid :<span>$100</span></p>
            <p> Time Left :<span id='demo'></span></p>
        </div>
        <div class="card-action">
          <a href="#"class="btn-large halfway-fab waves-effect waves-light red cardButton">BID</a>
        </div>
      </div>
    </div>
  </div>