  <footer class="page-footer white">
      <div class="container footerText">
          <p><a href="/privacypolicy" class="navText">Privacy Policy</a> © 2025 by Dean Warren
          </p>
      </div>
  </footer>