        <div id="allStudents" class="tabcontent">
            <div class="hero-image">
                <img class="responsive-img img-floating profilePic" style="text-align: center; margin-left:35%" src="./resources/SAGL.png" alt="Avatar">
            </div>
                <div class="card" id="adminProfilePageCard" style="width: 100%;">
                    <h3>Search for All Students</h3>
                    <p>Where Auctions are started and timers are set.</p>
                </div>
        </div>
    </div>
</div>