{{> sidebarNav }}
    <div class="card center-align" id="profilePageCardMain" style="width: 80%">
      <div class="container" id="mainContent2" style="margin-right:12%;">
        <div id="aboutSAG">
            <div class="hero-image"></div>
          <div class="card" id="AboutSAGCard" style="width: 100%; margin-top: 0;">
            <div>
              <h3 style="text-align: center;">About Silent Auction Gallery</h3>
              <hr>
                    <h5>Welcome to Silent Auction Gallery!</h5>
                    <p>Silent Auction Gallery happened as a direct result of COVID-19 and the need for art students to be able to experience showing and selling their work.
                        All procedes are donated to a charity that the students choose prior to each auction.

                      The program itself is a labor of love created by Dean Warren and Jonathan Kelley.</p>
            </div>
            <div class="card-action">        
                      <p>If you have questions or comments please leave a message at <a href="mailto:SilentAuctionGallery@gmail.com">SilentAuctionGallery@gmail.com</a>.</p> 
            </div>  
          </div>
        </div>
      </div>
    </div>
<script src="/js/materialize.js"></script>