<!-- Dropdown Trigger -->
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a data-target="contact-modal" class="btn btn-small blue modal-trigger hoverable" href="#contact">Contact</a></li>
    <li><a data-target="about-modal" class="btn btn-small blue modal-trigger hoverable"href="#about">About</a></li>
  </ul>

<div class="hero-image">
<a href="#" data-target="dropdown1" class="dropdown-trigger hide-on-med-and-up"><i class="material-icons">menu</i>
  <div class="hero-text">
    <header class="homePageHeader">
        <div class="modal-content">
      {{!-- <div class="card-panel grey lighten-5 z-depth-1 hoverable"> --}}
          <a href="#!" class="right-align modal-close waves-effect waves-light"></a>
    {{!-- <div class="col s12 m8 offset-m2 l6 offset-l3"> --}}
        <div class="hero-image">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img class="responsive-img circle hide-on-small-only" src="./resources/SAGL.png" alt="Avatar">
            </div>
            <div class="col s10">
            <div class="header-right">
              {{!-- <a class="btn btn-small white modal-trigger hoverable"href="#home">Home</a> --}}
              <a data-target="contact-modal" class="btn btn-small blue modal-trigger hoverable" href="#contact">Contact</a>
              <a data-target="about-modal" class="btn btn-small blue modal-trigger hoverable"href="#about">About</a>
            </div>
              <h4 style="color:white; font-weight:bold;">(S.A.G.) Silent Auction Gallery</h4>
            </div>
          </div>
        </div>
    </div>  
    <button class="btn btn-default red darken-4 hoverable loginButton" onclick="window.location.href='/login'" style="margin-left: 45%; margin-top:20%; background-color:navajowhite">Login</button> 
      
    </header>
  </div>
</div>

<!-- Contact Us! Modal -->
<div id="contact-modal" class="modal">
  <div class="modal-content">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
          <a href="#!" class="right-align modal-close waves-effect waves-light"><i class="material-icons">close</i></a>
        <div class="hero-image">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img class="responsive-img circle hide-on-small-only" src="./resources/SAGL.png" alt="Avatar">
            </div>
            <div class="col s10">
              <h4 style="color:white; font-weight:bold;">About (S.A.G.) Silent Auction Gallery</h4>
            </div>
          </div>
        </div>
          <p class="flow-text center-align"><b>Thank you for your interest!</b></p>

          <p class="flow-text">Please email us at <a class="blue-text text-darken-2" href="mailto:silentauctiongallery@gmail.com">silentauctiongallery@gmail.com</a> with any questions or suggestions!</p>
      </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-small">Close</a>
          </div>
    </div>
  </div>
</div>

<!-- About Modal -->
<div id="about-modal" class="modal">
  <div class="modal-content">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
          <a href="#!" class="right-align modal-close waves-effect waves-light"><i class="material-icons">close</i></a>
        <div class="hero-image">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img class="responsive-img circle hide-on-small-only" src="./resources/SAGL.png" alt="Avatar">
            </div>
            <div class="col s10">
              <h4 style="color:white; font-weight:bold;">About (S.A.G.) Silent Auction Gallery</h4>
            </div>
          </div>
        </div>
            <p class="flow-text center-align"><b>Thank you for your interest!</b></p>

              <p class="flow-text">
                This project was created to help make sure that High School art students had the chance to participate in a silent auction to experience having their work both displayed and sold. 

              </p>
              <p class="flow-text"> 
                This software was created by Dean Warren, with a focus on improving student experiences through software engineering. 

              </p>
              <p class="flow-text">  
                Please email us at <a class="blue-text text-darken-2" href="mailto:silentauctiongallery@gmail.com">silentauctiongallery@gmail.com</a> with any questions or suggestions!</p>
              </p>
        
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-light btn-small">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
body, html {
  height: 100%;
}

footer{
    display: none;
}
#homePageHeader{
    background-color: rgba(109, 101, 101, 0.515);
    border: none;
    height: 60px;
    color: white;
}

.header{
    color: white; 
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: url("https://soulsoothinsounds.files.wordpress.com/2020/01/02e39bb6-33db-4772-9b50-6481eeacff3b.jpeg?w=820"); */
  /* background-image: url("./resources/webpage/02e39bb6-33db-4772-9b50-6481eeacff3b.jpeg"); */
  background-image: url("./resources/webpage/HomeBackground1.png");
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



.hero-text button {
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  box-shadow: black;
  border-radius: 5px;
  font-size: 30px;
  height: fit-content;
  
}




</style>

<script type="text/javascript" src="/js/home.js"></script>
<script>
  //$(document).ready(function(){
    //{{!-- $('.modal').modal(); --}}
    //$('#about-modal').modal();
    //$('#contact-modal').modal();
    //$('.dropdown-trigger').dropdown();
  //});
</script>
