<div class="row">
    <div class="col s12 m12 l12">
        <div class="card" id="loginCard">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m7 l7">
                        <img class="responsive-img loginPic" src="https://i.pinimg.com/564x/39/c1/f6/39c1f6e54cc6e87569c00c91d035bb6c.jpg">
                    </div>

                    <div class="col s6 m5 l5">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card" id="loginCard2">
                                    <div class="card-content">
                                        <h2>Account Verification</h2>
                                        <div class="card-content hoverable">
                                            <div class="container tokenForm">
                                                <div class="row">
                                                    <div class="col-md-6 col-md-offset-3">
                                                        <form class="form-token" id="verify-form">
                                                            <div class="form-group">
                                                                <label for="secretToken">
                                                                    <h5 class="blue-text">Paste Secret Token Below</h5>
                                                                </label>
                                                                <div class="input-field">
                                                                    <input type="text" 
                                                                           class="form-control validate" 
                                                                           id="secretToken"
                                                                           placeholder="Paste Secret Token Here" 
                                                                           required>
                                                                    <span class="helper-text">Check your email for the verification token</span>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="token-preview">
                                                                <p>You Entered:</p>
                                                                <p class="truncate blue-text" id="inputValue"></p>
                                                            </div>
                                                            
                                                            <div class="center-align">
                                                                <button type="submit" 
                                                                        class="btn waves-effect waves-light red darken-4 hoverable"
                                                                        id="verifyTokenBtn" 
                                                                        disabled>
                                                                    Verify
                                                                    <i class="material-icons right">done</i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                        
                                                        <div class="center-align links-section">
                                                            <p class="hoverable"><a href="/login">Back to Login</a></p>
                                                            <p class="hoverable"><a href="/signup">Need to Sign Up?</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Success Modal -->
<div id="verified-token-modal" class="modal">
    <div class="modal-content">
        <h4>Email Verification Status</h4>
        {{#if tokenVerified}}
            <div class="modal-header">
                <h6 class="green-text">Your email has been successfully verified!</h6>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn green darken-4 waves-effect waves-light"
                        id="confirm-token">
                    Continue to Login
                </button>
            </div>
        {{else}}
            <div class="modal-header">
                <h6 class="red-text">Token verification pending</h6>
                <p>Please enter the token sent to your email address.</p>
            </div>
            <div class="modal-footer">
                <button type="button" 
                        class="btn red darken-4 waves-effect waves-light"
                        onclick="closeModal()">
                    Close
                </button>
            </div>
        {{/if}}
    </div>
</div>

<!-- Add necessary styles -->
<style>
    .token-preview {
        margin: 20px 0;
        padding: 10px;
        background: #f5f5f5;
        border-radius: 4px;
    }
    
    .links-section {
        margin-top: 20px;
    }
    
    .links-section p {
        margin: 10px 0;
    }
    
    #loginCard {
        margin-top: 20px;
    }
    
    #loginCard2 {
        box-shadow: none;
    }
    
    .helper-text {
        color: #757575;
        font-size: 0.8rem;
    }
</style>